*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(180deg, #3a3a3a, #cccccc);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: whitesmoke;
    padding: 10px 24px;
    border-radius: 20px;
    border-width: 1px;
    width: 650px;
}

h1{
    color: #364547;
    margin-left: 72px;
    margin-bottom: 0.5em;
    font-family: sans-serif;
}

.container .box{
    width: 100%;
    display: flex;
}

.box div{
    width: 100%;
}

select{
    width: 95%;
    height: 40px;
    font-size: 1.2em;
    cursor: pointer;
    background: #cccccc;
    outline: none;
    color: black;
    margin: 0.75em 0;
    padding: 0 1em;
    border-radius: 10px;
    border: none;

}

input{
    width: 95%;
    height: 40px;
    font-size: 1em;
    margin: 0.2em 0;
    border: none;
    background: #cccccc;
    outline: none;
    padding: 0 1em;
}

 .btn{
    width: 50%;
    height: 40px;
    background: #364547;
    color: whitesmoke;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 0.5em 0;
    margin: 0.75em 0;
    
}

.container .btn{
    margin-left: 150px;
    
}