*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    
    padding: 30px;
    border-radius: 20px;
    border: 1px solid #c4c4c4;
    
}

h1{
    color: #364547;
    /* margin-left: 72px; */
    margin-bottom: 0.5em;
    font-family: sans-serif;
    font-weight: 900;
}



.col-md-6{
    padding: 5px 0;
    
}

.container .box{
    width: 100%;
    display: flex;
}

.box div{
    width: 100%;
}

select{
    width: 95%;
    
    font-size: 1.2em;
    cursor: pointer;
    
    outline: none;
    color: black;
    margin: 0.2em 0.5em;
    padding: 10px 5px;
    border-radius: 10px;
    border: 1px solid #c4c4c4;

}

input{
    width: 95%;
    
    font-size: 1.2em;
    margin: 0.2em 0.5em;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    outline: none;
    padding: 10px 5px;
}

 .btn{
    width: 400px;
    height: 60px;
    padding: 10px 20px;
    background: #364547;
    color: whitesmoke;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    
    margin-bottom: 0.75em;
    margin-top: 0.75em;
    
}

.From-To-Amount-Result {
    margin: 0.2em 0.5em;
}

